* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg: #293241;
    --main-bg: #BFD7E4;
    --main-fieldset-legend: #F67669;
    --white: #FFF;
    --label-color: #4E4958;
    --fieldset-legend-text: #253B51;
    --border-color: #E6E6F0;
    --label-highlight-color: #C1BCCC;
    --label-highlight-color-hover: #767479;
    --input-bg: #FAFAFC;
}

header h1, fieldset legend, form button {
    font-family: 'Staatliches', cursive;
}

body {
    background: var(--main-bg);
    font-family: 'Poppins', sans-serif;
}

nav {
    position: absolute;
    right: 0;
    top: 0;
}

nav ul {
    display: flex;
    gap: 24px;
    padding: 20px;
    list-style: none;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--label-highlight-color-hover);
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 465px;
    width: 100%;
    z-index: -1;
    background: var(--header-bg);
}

header {
    text-align: center;
    margin-top: 110px;
    width: 100%;
}

header h1 {
    font-size: 36px;
    color: var(--white);
}

header p {
    color: var(--white);
    margin-bottom: 24px;
}

main {
    margin-top: 32px;
}

form {
    width: 750px;
    margin: auto;
    background: var(--white);
    border-radius: 20px;
    margin-bottom: 100px;
}

form fieldset {
    border: none;
}

form fieldset:not(.highlight-fieldset), .highlight-fieldset .input-wrapper {
    padding: 0 64px;
}

form fieldset.highlight-fieldset legend {
    background: var(--main-fieldset-legend);
    width: 100%;
    height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    color: var(--white);
    font-size: 24px;
}

form fieldset:not(.highlight-fieldset) legend {
    text-align: center;
    padding-top: 32px;
    margin-bottom: 8px;
    font-size: 24px;
    color: var(--fieldset-legend-text);
    line-height: 34px;
}

.highlight-fieldset .input-wrapper {
    margin-top: 30px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper .full-name-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.input-wrapper .full-name-wrapper label {
    width: 300px;
}

form fieldset label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    line-height: 24px;
    color: var(--label-color);
    margin-bottom: 8px;
}

form fieldset label p span {
    color: var(--label-highlight-color);
    font-size: 12px;
}

form fieldset label p span:hover {
    color: var(--label-highlight-color-hover);
}

form fieldset input, form fieldset select, form fieldset textarea {
    height: 56px;
    background: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 0 16px;
}

form fieldset hr {
    border: none;
    height: 1px;
    background: var(--border-color);
    margin-bottom: 32px;
}

form fieldset select {
    width: 50%;
    appearance: none;
    -webkit-appearance: none;
    margin-bottom: 32px;
}

form fieldset textarea {
    resize: none;
    height: 168px;
    padding: 16px;
}

form fieldset .checkbox-input {
    position: relative;
    margin-top: 30px;
}

form fieldset .checkbox-input label {
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

form fieldset .checkbox-input input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
}

form fieldset .checkbox-input label::before {
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.checkbox-input input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_2402_23)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2402_23'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.checkbox-input input:focus + label::before {
    outline: 2px solid black;
}

.input-wrapper.date-wrapper {
    flex-direction: row;
}

.input-wrapper.date-wrapper label:nth-child(1) input {
    width: 300px;
    margin-right: 32px;
}

.input-wrapper.date-wrapper label:nth-child(2) input {
    margin-right: 10px;
}

.input-wrapper.date-wrapper label:nth-child(2) input, .input-wrapper.date-wrapper label:nth-child(3) input {
    width: 140px;
}

form button {
    margin: 64px;
    width: 622px;
    padding: 15px 40px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: var(--white);
    line-height: 26px;
    background: var(--main-fieldset-legend);
}

